h1{
  padding-top: 20px;
  font-stretch: expanded;
  color: black;
  font-weight: bold;
}
.navbar{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
}
body{
  background-image: url("../images/1.jpg");
  background-repeat: repeat-x;
  background-position: cover;
  backface-visibility: hidden;
  opacity: 1;
  padding-bottom: hsl(360, 100%, 100%);px;
}
img{
  width: 640px;
  height: 420px;
}
.jumbotron{
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  background-color: SandyBrown;
  border-radius: 0.3rem;
  opacity: 1.0;
  font-weight: bold;
}
.important{
  color: black;
}
.unimportant{
 color: SandyBrown;
}
.test-box {
    border: 2px DarkSlateGrey;
    border-style: double;
    padding: 6px;
    margin: 15px;
    height: 360px;
    width: 560px;
    background-color: Gainsboro;
    float: right;
  }
