h1{
  padding-top: 20px;
  font-stretch: expanded;
  color: black;
  font-weight: bold;
}
.navbar{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
}
body{
  background-image: url("../images/1.jpg");
  background-repeat: repeat-x;
  background-position: top;
  backface-visibility: hidden;
  opacity: 1;
  padding-bottom: 860px;
}
